<div class="container">
  <div *ngIf="studentData.length >= 1 && !isLoading " class="table-responsive">
    <table border="2px" class="table" >
      <tr>
        <th>Names</th>
        <th >Email</th>
        <th>Institute</th>
        <th >Action</th>
      </tr>

      <tr *ngFor="let studentD of studentData">
        <td>{{studentD.name}}</td>
        <td>{{studentD.email}}</td>
        <td>{{studentD.inst}}</td>
        <td>
          <div class="but">
            <button type="button" class="btn btn-success" (click)="onView(studentD.id)">View</button>&nbsp; &nbsp;
            <button type="button" class="btn btn-primary"  (click)="onUpdate(studentD)">Update</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger"  (click)="onDelete(studentD)">Delete</button>
          </div>

        </td>
      </tr>
    </table>
  </div>

  <h3 *ngIf="studentData.length < 1 && !isLoading">No student available</h3>
  <p *ngIf="isLoading">Loading...</p>

</div>



